* {
  margin: 0;
  padding: 0;
}

/* Navigation Styling */

.navigation-container {
  position: absolute;
  left: 50%;

  padding: 10px;
  transform: translate(-50%, 0%);
}
.navigation-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.navigation-container ul a {
  padding: 20px;

  text-decoration: none;
  color: black;
}
/* Main Content Styling */

.section-One {
  width: 100%;
  min-height: 350px;

  background-color: #ffef96;
}
.section-Two,
.section-Three {
  width: 100%;
  min-height: 720px;
}
.section-Two {
  background-color: #5f9ea0;
}
.section-Three {
  background-color: #50394c;
}
.header-One {
  color: #50394c;
  font-size: 55px;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  transform: translateY(120px);
}
.header-Text {
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  transform: translateY(125px);

  margin: 25px;
}
.info-P {
  display: flex;
  flex-direction: column;

  padding: 25px;
}
