* {
  margin: 0;
  padding: 0;
}

/* Navigation Styling */

.navigation-container {
  position: absolute;
  left: 50%;

  padding: 45px;
  transform: translate(-50%, 0%);
}
.navigation-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.navigation-container ul a {
  padding: 20px;

  text-decoration: none;
  color: black;

  font-size: 15px;
}
/* Main Content Styling */

.section-One {
  width: 100%;
  min-height: 350px;

  background-color: #ffef96;
}
.section-Two,
.section-Three {
  width: 100%;
  min-height: 720px;
}
.section-Two {
  background-color: #5f9ea0;
}
.section-Three {
  background-color: #50394c;
}
.header-One {
  color: #50394c;
  font-size: 55px;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  transform: translateY(120px);
}
.header-Text {
  font-family: sans-serif;

  display: flex;
  text-align: center;
  justify-content: center;
  transform: translateY(125px);

  min-width: 20%;

  margin: 25px;
}
.info-P {
  display: flex;
  flex-direction: column;

  padding: 25px;

  text-align: center;
}

/* Blogs Section*/
.blogsHeader {
  display: flex;
  text-align: center;
  justify-content: center;

  padding: 45px;

  font-size: 75px;

  color: #ffef96;
}
#blogs-Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 45px;

  padding-top: 35px;
  padding-left: 45px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}
.card-Header {
  margin-top: 15px;
  margin-bottom: 45px;

  color: #50394c;
  font-weight: 500px;
}
.card a {
  text-decoration: none;
  background-color: #ffef96;
  border-radius: 8px;

  width: 45%;

  padding: 15px;

  color: #5f9ea0;
}
.aboutHeader {
  display: flex;
  text-align: center;
  justify-content: center;

  padding: 45px;

  font-size: 45px;
  color: #5f9ea0;
}
